@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 24px;
    font-weight: 400;
  }
*{
box-sizing: border-box;
}
a {
color: inherit;
text-decoration: none;
}

body {
margin: 0;
}
nav{
    width: 100%;
    border-bottom: solid 1px rgb(163, 163, 163);
    height: 6rem;
    display: flex;
    justify-content: center;
    // z-index: 1;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    font-size: 2rem;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    gap: 1.5rem;
    @media screen and (min-width: 500px){
        .menu-bar{
            margin-right: auto;
        }
    }
    .menu-chart{
        margin-left: auto;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.rows{
    display: flex;
    text-align: center;
    justify-content: center;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border: .5px solid #bbb;
        border-radius: 4px;
        margin: .5rem;
        font-weight: bold;
        font-size: 4.4rem;
        
    }
    @media screen and (min-width: 400px){
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6rem;
            height: 6rem;
            border: .5px solid #bbb;
            border-radius: 4px;
            margin: .5rem;
            font-weight: bold;
            font-size: 4.4rem;
        }
    }

    >div:nth-child(2){
        animation-delay: 0.3s;
    }
    >div:nth-child(3){
        animation-delay: 0.6s;
    }
    >div:nth-child(4){
        animation-delay: 0.9s;
    }
    >div:nth-child(5){
        animation-delay: 1.2s;
    }
    .yellow{
        --guess: #ead36e;
        animation: spin 0.5s ease forwards;
    }
    .green{
        --guess: #52ab52;
        animation: spin 0.5s ease forwards;
    }
    .grey{
        --guess: #a1a1a1;
        animation: spin 0.5s ease forwards;
    }
}

.rows.current >.filled{
    animation: type 0.2s ease-in-out forwards;
}

.keyboard{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .keyrow{
        display: flex;
        gap: 3px;
        margin: 5px;
    }

    button{
        display: flex;
        width: 2rem;
        align-items: center;
        padding: 1rem;
        justify-content: center;
        height: 3rem;
        color: #000;
        font-weight: 700;
        border: 1px solid rgb(197, 195, 195);
        border-radius: 5px;
    }
    #ENTER{
        width: 5.5rem;
    }
    @media screen and (min-width: 400px){
        button{
            width: 3rem;
            height: 4rem;
            font-size: 1.5rem;

        }
        #ENTER{
            width: 6rem;
            font-size: 1.5rem;

        }
    }

    .green{
        background: #52ab52;
        color: #fff;
        transition: all 0.3s ease-in;
    }

    .yellow{
        background: #ead36e;
        color: #fff;
        transition: all 0.3s ease-in;
    }

    .grey{
        background: #a1a1a1;
        color: #fff;
        transition: all 0.3s ease-in;
    }
}


//modal for final result

.final-score{
    background-color: #a1a1a1ae;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.4s ease-in forwards;

    >div{
        background-color: #ebe6e6eb;
        border-radius: 1rem;
        text-align: center;
        box-shadow: 7px 5px 6px rgb(163, 160, 160);
        padding: 2rem 5rem 2rem 5rem;
        margin: 1rem auto;
        width: 90%;
        height: 30rem;

        h2{
            line-height: 3.5rem;
        }

        hr{
            display: inline-block;
            border: .5px solid rgba(191, 188, 188, 0.738);
            width: 100%;
            margin: 1rem;
        }
    }

    @media only screen and (min-width: 550px) {
        >div{
            width: 50rem;
            height: 30rem;
        }
      }
    
    @media only screen and (max-width: 300px) {
    >div{
        height: 37rem;
        }
    }
}

footer{
    width: 100%;
    max-width: 1400px;
    padding: 0 2rem;
    margin:auto;
    color:#696767ae;
    .profile-tags{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
    }
}

//Menu and stats bars

.menu-slide-nav{
    position: fixed;
    left: 0;
    top: 6rem;
    padding: 2rem 3rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    background:rgb(186, 185, 185);
    color: white;
    height: 100%;
    width: 49.5%;
    max-width: 35rem;
    animation: slideIn .25s ease-in forwards;
}

.menu-slide-closed{
    display: none;
    position: fixed;
    left: -100%;
    top: 6rem;
    padding: 2rem 3rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    background:rgb(186, 185, 185);
    height: 100%;
    width: 49.5%;
    max-width: 35rem;
    transition: 1s;
}

.slide-footer{
    position: absolute;
    bottom: 7rem;
    left: 0;
    footer>*{
        color:#fff;
    }
    .profile-tags>*:hover{
        color: rgb(150, 149, 149);
    }
}

.stats-slide-nav{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    // top: 6.01rem;
    width: 100%;
    // padding: 2rem 3rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(227, 225, 225, 0.693);
    color: white;
    height: 100%;

    .stats-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        max-width: 100%;
        background:rgba(100, 82, 82, 0.693);
        border: none;
        border-radius: 1rem;
        padding: 2rem;
        top: 6.01rem;
        height: 70%;
        width: 95%;
        max-width: 600px;
    }
    .stats-card>h3{
        font-size: 2rem;
    }
    .stats-exit{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .stats-list{
        list-style: none;
        display: flex;
        gap: 2rem;
        font-size: 1.5rem;
    }
    .stat-item-pair{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .stats-hr{
        width: 80%;
        margin: 2rem 0;
        border-color: #fff;
    }
    .stats-clear{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
    }
    .stats-clear>button{
        padding: .5rem 1rem;
        background:#333;
        border: none;
        border-radius: .5rem;
        color: #fff;
    }
    .stats-clear>button:hover{
        font-weight: 700;
        background:rgb(49, 48, 48);
    }
}

@keyframes spin {
    0%{
        background: #fff;
        border-color: #bbb;
        transform: rotateX(0);
    }
    47%{
        background: #fff;
        border-color: #bbb;
        transform: rotateX(90deg);
    }
    52%{
        transform: rotateX(90deg);
        background: var(--guess);
        border-color: var(--guess);
        color: #fff;
    }
    100%{
        transform: rotateX(0);
        background: var(--guess);
        border-color: var(--guess);
        color: #fff;
    }
}

@keyframes type {
    0%{
        transform: scale(1);
        border: 1px solid #bbb;
    }
    50%{
        transform: scale(1.3);
        border: 1px solid #bbb;
    }
    100%{
        transform: scale(1);
        border: 1px solid #333;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {

    0% {
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0rem);
    }
}